<% include header %>
<div class="main">
        <div id="headerBox">
          <h3><%= title %></h3>
        </div>
        <div id="windowLeftTop">
            <form class="form-group" method="post" name="addForm" id="form" action="/admin">

                <div class="container-fluid">
                    <div class="row">
                            <!--<label class="control-label required" for="name">Titre du node (*) : </label>-->
                            <input class="control-input" type="text" id="name" name="name" required="required" size="72" placeholder="Titre du node (*)"/>
                            <input class="control-input" type="hidden" id="numberID" name="numberID" size="72"/>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <!--<label class="control-label required" for="group">node group (*) : </label>-->
                        <select class="control-input" id="group" name="group">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <!--<label class="control-label required" for="desc">Description du node (*) : </label>-->
                        <textarea class="control-input" id="desc" name="desc" required="required" rows="4" cols="75" placeholder="Décrivez en quelques mots votre nouveau nœud"></textarea>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <!--<label class="control-label required" for="link">Url du node (*) : </label>-->
                        <input class="control-input" type="text" id="link" name="link" required="required" size="72" placeholder="URL"/>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <!--<label class="control-label required" for="tag">Tags separateur "," (*) : </label>-->
                        <input class="control-input" type="text" id="tag" name="tag" required="required" size="72" placeholder="Mots Clefs"/>
                    </div>
                </div>
                <br />

                <div class="container-fluid">
                    <div class="row">
                        <!--<label class="control-label required" for="parent">node parent (*) : </label>-->
                        <select class="control-input" id="parent" name="parent"></select>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row" id="formBouton">
                        <input class="btn btn-primary btn-lg" style="width:100%;" type="submit" id="add" name="add" value="Add"/>
                    </div>
                </div>
            </form>
            <script>
              var nodes = "<%= nodes %>"
              var map = {amp: '&', lt: '<', gt: '>', quot: '"', '#39': "'"}
              nodes = nodes.replace(/&([^;]+);/g, (m, c) => map[c])
              $('#parent').append(nodes)
            </script>
        </div>
</div>
<% include footer %>
