<% include header %>
<div class="main">
        <div id="headerBox">
          <h3><%= title %></h3>
        </div>
        <div id="windowLeftTop">
            <form class="form-group" method="post" name="editForm" id="form" action="/admin/edit/<%= node._id %>">

                <div class="container-fluid">
                    <div class="row">
                            <!--<label class="control-label required" for="name">Titre du node (*) : </label>-->
                            <input class="control-input" type="text" id="name" name="name" required="required" size="72" placeholder="Titre du node (*)" value="<%= node.name %>"/>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <!--<label class="control-label required" for="group">node group (*) : </label>-->
                        <select class="control-input" id="group" name="group">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <!--<label class="control-label required" for="desc">Description du node (*) : </label>-->
                        <textarea class="control-input" id="desc" name="desc" required="required" rows="4" cols="75" placeholder="Décrivez en quelques mots votre nouveau nœud"><%= node.desc %></textarea>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <!--<label class="control-label required" for="link">Url du node (*) : </label>-->
                        <input class="control-input" type="text" id="link" name="link" required="required" size="72" placeholder="URL" value="<%= node.link %>"/>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <!--<label class="control-label required" for="tag">Tags separateur "," (*) : </label>-->
                        <input class="control-input" type="text" id="tag" name="tag" required="required" size="72" placeholder="Mots Clefs" value="<%= node.tag %>"/>
                    </div>
                </div>
                <br />

                <div class="container-fluid">
                    <div class="row">
                        <!--<label class="control-label required" for="parent">node parent (*) : </label>-->
                        <select class="control-input" id="parent" name="parent"></select>
                    </div>
                </div>
                <br />
                <div class="container-fluid">
                    <div class="row" id="formBouton">
                        <input class="btn btn-primary btn-lg" style="width:100%;" type="submit" id="edit" name="edit" value="Edit"/>
                    </div>
                </div>
            </form>

            <script>
              $('#group').val(<%= node.group %>)
              var nodes = "<%= optionsChildren %>"
              var map = {amp: '&', lt: '<', gt: '>', quot: '"', '#39': "'"}
              nodes = nodes.replace(/&([^;]+);/g, (m, c) => map[c])
              $('#parent').append(nodes)
              $('#parent').val(<%= idParent%>)
            </script>
        </div>
</div>
<% include footer %>
