<% include header %>
<div class="main">
        <div id="headerBox">
          <h3><%= title %></h3>
        </div>
        <div id="windowLeftTop">
            <div>Liste des nodes</div>
            <div id="AddImportButtons"><a href="admin/add"><i class="fa fa-plus-circle" aria-hidden="true"></i>
</a> | <a href="admin/import"><i class="fa fa-upload" aria-hidden="true"></i>
</a></div>
            <table id="example" class="display" width="100%" cellspacing="0">
              <thead>
                <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Group</th>
               <th>Description</th>
               <th>Url</th>
               <th>Tag</th>
               <th>Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Group</th>
               <th>Description</th>
               <th>Url</th>
               <th>Tag</th>
               <th>Actions</th>
                </tr>
              </tfoot>
              <tbody>
              <% nodes.forEach(function(node) { %>

                <tr>
                  <td><%= node._id %></td>
                  <td><%= node.name %></td>
                  <td><%= node.group %></td>
                  <td><%= node.desc %></td>
                  <td><a href="<%= node.link %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>
</a></td>
                  <td><%= node.tag %></td>
                  <td><a href="admin/edit/<%= node._id %>"><i class="fa fa-pencil" aria-hidden="true"></i>
</a> <a href="admin/delete/<%= node._id %>"><i class="fa fa-trash" aria-hidden="true"></i>
</a></td>
                </tr>
            <% }); %>
          </tbody>
          </table>
        </div>
</div>
<script>
$(document).ready(function() {
    var table = $('#example').DataTable();

    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );

    $('#button').click( function () {
        alert( table.rows('.selected').data().length +' row(s) selected' );
    } );
} );
</script>
<% include footer %>
