.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #c54747;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	border: 1px solid #b73131;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
	display: inline-block;
	color: #e3e6ca;
	font-size:16px;
	margin:0;
	transition:.5s;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}

.d3-context-menu ul li:hover {
	background-color: #b73535;

	cursor:pointer;
}

/*
	Header
*/

.d3-context-menu ul li.is-header,
.d3-context-menu ul li.is-header:hover {
	background-color: #f2f2f2;
	color: #444;
	font-weight: bold;
	font-style: italic;
}

/*
	Disabled
*/

.d3-context-menu ul li.is-disabled,
.d3-context-menu ul li.is-disabled:hover {
	background-color: #f2f2f2;
	color: #888;
	cursor: not-allowed;
}

/*
	Divider
*/

.d3-context-menu ul li.is-divider {
	padding: 0px 0px;
}

.d3-context-menu ul li.is-divider:hover {
	background-color: #f2f2f2;
}

.d3-context-menu ul hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
