/*body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}*/

/*svg {
  position: absolute;
  top: "200px";
  left: "200px";
}*/

.node{
  fill: rgba(135, 135, 135, 0.07);
  transition: fill 1s, stroke .7s;
//  stroke: #eed478;

}

.nodesActive{
  fill: rgb(230, 232, 203);
  stroke: rgb(23, 26, 41);


}


.text {
  display:flex;
  flex-wrap: wrap;
  height:30px;
  width:110px;
  padding:auto;
  stroke: none;
  font-size: 10px;
//  transform: translate(0px, -10px);
align-items: center;
justify-content: center;
}


.transform_Root{

}

.text div {
  color: rgb(230, 230, 230);
  font-weight: bold;
}


.link {
    stroke: rgba(163, 56, 56, 1);
    stroke-opacity: 0.2;
    stroke-width : 3;

}

.nodes circle {
    stroke: #0b0d16;
    stroke-width: 5px;
    stroke-opacity: 0.6;
}
