

#container {
    background: rgb(49, 54, 70);
    padding: 2em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


#welcome h1 span {
    margin-bottom: 2em;
    color: rgb(209, 209, 209) ;
    font-weight: bold;
    display: block;
    font-size: 75%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.control-label {
    background: #5b5b5b;
    border-radius: 4px;
    padding: 4px 7px;
    font-size: 86%;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border: none;
}

.control-input {
  background: rgb(23, 26, 41);
  color: #9c9c9c;
  border-radius: 2px;
  border: 2px solid #171b2c;
  padding: 4px 7px;
  text-align: left;
  width: 410px;
}

textarea#desc {
    border: none;
    margin-top: -10px;
    color: #9c9c9c;
    font-size: 12px;
    letter-spacing: 1.1px;
    width: 414px;
}

.required {
    background: #a2b947;
}

/*Boite de dialogue*/

.ui-widget.ui-widget-content{
  border:none!important;
}

.ui-dialog {
    border: none!important;
    background: none!important;
}

.ui-dialog {
    right: 60px!important;
    top: 60px!important;
    left:auto!important;
}

.ui-dialog-titlebar {
  background: rgb(49, 54, 70)!important;
  text-align: left!important;
  color: #d0ba6e!important;
  border: none!important;
  border-bottom: 4px solid #171a29!important;
  border-radius: 0!important;
  border-top-left-radius: 8px!important;
  border-top-right-radius: 8px!important;
  padding: 18px 36px!important;
  height: 20px;
}

.ui-dialog-content {
    height: auto!important;
}

div#formBouton {
    width: 500px;
    margin-left: -36px;
    margin-bottom: -36px;
}

div#formBouton input.btn {
    padding: 20px;
    color: #373944;
    background: #d0ba6e;
    text-transform: uppercase;
    font-weight: 800;
    border: none;
    border-radius: 0;
    border-top: 4px solid #171a29;
}

div#formBouton input.btn:hover{
  color: #373944;
    background: #edd47e;
}

button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
    border: 0;
    margin-right: 20px;
    background: none;
}

input#title {
    text-transform: uppercase;
    font-size: 14px;
}

input#link {
    text-transform: lowercase;
    font-size: 12px;
}
