body {
    background: #171a29;
    background-image: url(../img/space_stars_static.svg);
    background-size: 16%;
    font: 18px/1.5 sans-serif;
    margin: -10px;
}
.main {
    display:flex;
    justify-content: center;
}

#graphContainer{
  display:flex;
  width:100%;
  height:100vh;
  align-items: center;
  justify-content: center;


    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grab; /* Firefox 1.5-26 */
    cursor:         grab; /* W3C standards syntax, should come least */
}

#graphContainer:active{
  cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

svg#graphCanvas {
  width: 99%!important;
  height: 99.9vh!important;
}

.node circle:hover{
  fill:#e6e3b6!important;
  stroke: none!important;
  cursor: -webkit-pointer;
    cursor:    -moz-pointer;
    cursor:         pointer;
}

.node circle:active{
  cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

.node text{
  mix-blend-mode: exclusion;
}

#headerBox{
position: fixed;
left: 90px;
width: 180px;
top: 100px;
text-overflow: ellipsis;
font-size: 12px;
color: rgb(230, 232, 203);
}

div#headerBox > h3 {
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0;
    font-weight: 400;
    color: #3ac27c;
    text-transform: uppercase;
}

div#headerBox > h2{
  font-size: 30px;
  line-height: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 14px;
  color:#f3d87a;
}

#rightContent h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

#rightContent > p.description {
    font-family: sans-serif;
    font-size:10px;
    margin: 4px 0;
    letter-spacing: 1.3px;
    color: #e6e3b6;
}

p.motsClefs {
  text-transform: lowercase;
font-weight: 300;
font-size: 12px;
font-family: monospace!important;
}

div#windowRightBottom{
  position:fixed;
  color:#f3d87a;
  width:300px;
  height: 120px;
  left: 160px;
  bottom:40px;
}

div#windowLeftTop{
  position: relative;
  margin: 20px 100px;
  color:#a7abc6;
  font-size: 12px;
  top: 150px;
}

#AddImportButtons{
  margin: 30px 0;
  text-align: center;
  font-size: 50px;

}

#AddImportButtons a{
  display: inline-block;
  margin: 0 20px;
  color:white;
}

table.dataTable{
  border: 1px solid #5F5F5F;
}

div#example_length, div#example_filter{
  margin-bottom:20px;
}

div#example_info, div#example_paginate{
  margin-top:20px;
  color:white!important;
}

.paginate_button.current{
  color: white !important;
  border: 1px solid #979797;
  background-color: transparent;
}

tbody tr, td{
  background-color: transparent!important;
  text-align:center;
  border-color: #5f5f5f!important;
  height: 46px;
}

thead, tfoot{
  background-color: #393d54!important;
}

tr:hover{
  background-color: #22263c!important;
  transition: 0.4s;
  color:white!important;
}

td a {
  color: #a7abc6;
}

td a:hover {
  color: #3ac27c;
}

td .fa{
  display:inline-block;
  margin:0 5px;
}

.dataTables_info, .dataTables_length, .dataTables_filter{
  color: white!important;
}



.tip {
    position: absolute;
    text-align: right;
    top: -10px;
    left: -60px;
    transform: rotate(-90deg);
}

.tip h4 {
  font-size:12px;
  margin:4px 0;
  font-weight: 300;
  margin: 0;
}

div#rightContent p > a:before{
  content:"\f06e  Ouvrir le lien";
  font-family: 'FontAwesome', sans-serif;
}

div#rightContent p > a[href*="pad"]:before{
  content:"\f15c  Pad";
  font-family: 'FontAwesome', sans-serif;
}

p.targetLink {
    margin: 0;
}

.targetLink a{
  font-size: 18px;
  color: #3ac27c;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}

.targetLink a:hover{
  border-bottom: 3px solid;
  cursor:pointer;
}

#toggleBouton {
    position: fixed;
    right: 90px;
    bottom: 90px;
    width: 20px;
    height: 20px;
    background: #cbcbcb;
    border:3px solid #cbcbcb;
    cursor: pointer;
}

#toggleBouton:hover {
  background:white
}

.boutonInactive{
  background:transparent!important;
  border:3px solid #cbcbcb;
}

.d3-tip{
  display:none;
}

.show{
  display:inherit;
}

.graphNode{
  width: 100%;
  border: solid 2px;
}

.icon{
  color:  red;
}

.close {

  width: 50px;
  height: 50px;

}

.searchbox{
  position: fixed;
  min-width: 50px;
  width: 0;
  height: 50px;
  top: 90px;
  right: 60px;
  overflow: hidden;

    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    border-bottom: 1px solid white;
    outline:0;
    background: transparent;
    background-size: 16%;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 5px;
    font-size:20px;
    color: white;
}
.searchbox-input::-webkit-input-placeholder {
    color: white;
}
.searchbox-input:-moz-placeholder {
    color: white;
}
.searchbox-input::-moz-placeholder {
    color: white;
}
.searchbox-input:-ms-input-placeholder {
    color: white;
}

.searchbox-icon,
.searchbox-submit{
    width:50px;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    background: #171a29;
    color: white;
    background-size: 16%;
}



.searchbox-open{
    width:30%;
}

.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #d74b4b;
}
