<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Huuble map</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/form.css">
    <link rel="stylesheet" href="/assets/css/d3js.css">
    <link rel="stylesheet" href="/assets/css/d3-context-menu.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui-1.12.1.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

</head>
<body onload="">
<script src="/assets/javascripts/d3.v4.min.js"></script>
<script src="/assets/javascripts/jquery-3.1.1.min.js"></script>
<script src="/assets/javascripts/jquery-ui-1.12.1.js"></script>
<div>
  <form class="searchbox">
      <input type="search" placeholder="Recherche" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
      <input type="submit" class="searchbox-submit" value="GO">
      <span class="searchbox-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
  </form>
  <input type="hidden" value="<%= queryClient %>" id="search" />
</div>

<div id="graphContainer">
<svg id="graphCanvas" width="1580" height="1200"></svg>
</div>
<div class="main">

        <div id="headerBox">
          <h3>HUUBLE ENGINE</h3>
          <h2>MAPS</h2>
        </div>
        <div id="windowRightBottom">
          <div id="rightContent">

          </div>
        </div>
        <div id="toggleBouton">

        </div>
